# Virtual Environments
venv/
.venv/
env/
.env

# Python Cache
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs & Data (Opsional)
logs/
dataset/
Dataset/

# Jika Anda tidak ingin mem-push model keras yang ukurannya sangat besar (>100MB), hilangkan tanda pagar di bawah ini:
# models/*.keras
# preprocessors/*.pkl
# preprocessors/*.npy
